<!--Week overview-->
<ul class="nav nav-tabs">
  <li role="presentation" ng-class={"active":views.overview} ng-click="view('overview')"><a href="#">Overview</a></li>
  <li role="presentation" ng-class={"active":views.reports} ng-click="view('reports')"><a href="#">Reports</a></li>
  <li role="presentation" ng-class={"active":views.add} ng-click="view('add')"><a href="#">Add</a></li>
  <li role="presentation" ng-class={"active":views.staff} ng-click="view('staff')"><a href="#">Staff</a></li>
  <li role="presentation" ng-class={"active":views.managers} ng-click="view('managers')"><a href="#">Managers</a></li>
  <li role="presentation" ng-class={"active":views.suggestions} ng-click="view('suggestions')"><a href="#">Suggestions</a></li>

</ul>
<div class="col-sm-12">
	<admin-overview ng-if="views.overview" infractionreports="infractionReports" incidents="incidentReports" infractions="infractions" staff="staff" allreports="reports"></admin-overview>

	<add ng-if="views.add"></add>

	<all-reports ng-if="views.reports" reports="reports" managers="managers" staff="staff" infractions="infractions" positives="positives"></all-reports>

	<div ng-if="views.staff">
		<div class="panel-heading blue-header">
			<h3> 
				Staff
			</h3>
		</div>

		<div class="panel-body">
			<div class="col-sm-12">

				<div class="col-md-6 col-sm-12">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="Search by name..." ng-model="stfName">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">Search</button>
				      </span>
				    </div>
				</div>

				<div class="col-md-6 col-sm-12 form-horizontal">
				    <div class="form-group">
						<label class="col-sm-4 col-xs-5 control-label">Reports: </label>

						<div class="col-sm-4 col-xs-6">
				  		  <input type="number" class="form-control" ng-model="repMin" placeholder="min">
						</div>

						<div class="col-sm-4 col-xs-6">
				  		  <input type="number" ng-model="repMax" placeholder="max" class="form-control" >

				  
						</div>

					</div>
				</div>
			</div>
	   	</div>

		<div class="panel-body">

			<staff-details ng-repeat="employee in staff | filter:{name:stfName} | staffFilter:staffNumbers:repMin:repMax" employee="employee" reports="reports" mgmt="false" class="col-md-6 col-sm-12"></staff-details>
		</div>

	</div>

	<div ng-if="views.managers">
		<div class="panel-heading blue-header">
			<h3>

				Managers
			</h3>
		</div>

		<div class="panel-body">
			<div class="col-md-6 col-sm-12">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="Search by name..." ng-model="mgmtName">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">Search</button>
				      </span>
				    </div>
				</div>
			</div>

		<div class="panel-body">
			<staff-details ng-repeat="manager in managers | filter: {name:mgmtName}" employee="manager" reports="reports" mgmt="true" class="col-md-6 col-sm-12."></staff-details>
		</div>

	</div>

	<div ng-if="views.suggestions">
		<div class="panel-heading blue-header">
			<h3> 
				Suggestions/Comments
			</h3>
		</div>

		<div class="panel-body">
			<div class="col-sm-12">

				<div class="col-md-6 col-sm-12">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="Search suggestions..." ng-model="commentSearch">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">Search</button>
				      </span>
				    </div>
				</div>

				<div class="col-md-6 col-sm-12">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="Search managers..." ng-model="mgmtSearch">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">Search</button>
				      </span>
				    </div>
				</div>
			</div>


	   	</div>

		<div class="panel-body">
			<div ng-repeat="suggestion in suggestions | filter:{managerName:mgmtSearch, comment:commentSearch} track by $index" class="panel-body" ng-class="{'gray-header':$even}">
				<p><b>Manager:</b> {{suggestion.managerName}}</p>
				<p><b>Comment:</b> {{suggestion.comment}}</p>
			</div>
			
		</div>

	</div>


	<div class="footer"></div>
</div>


