<div class="panel">
	<div class="panel-heading">
		<h4>Reset Password</h4>
	</div>

	<div class="panel-heading">
		<form class="form-horizontal" name="newPassword" ng-submit="newPassword.$valid && savePassword()"  novalidate>
			<div class="form-group" ng-class="{'has-error': newPassword.password.$dirty && newPassword.password.$invalid || newPassword.password.$invalid && newPassword.$submitted}">
				<label for="password" class="col-md-3 control-label">New Password: </label>
				
				<div class="col-md-9 ">
					<input type="password" class="form-control" name="password" ng-model="password" required>
				</div>
			</div>
<p class="text-center">
		<button class="btn btn-success" type="submit">Save</button>
		<button class="btn btn-default" ng-click="close()">Cancel</button>
	</p>

		</form>
	</div>

	
</div>