<div class="panel-heading col-sm-12 gray-header ">
	<div class="col-sm-12 ">
		<h4 class="col-sm-4 col-xs-12 "><b>{{employee.name}}</b></h4>
		<div class="pull-right" ng-click="remove()" >
			<span class="glyph-red glyphicon glyphicon-remove-circle"></span>
		</div>
	</div>
</div>

<div class="panel-body">
	<p class="col-sm-2 col-xs-4">{{infractions.length}} Inf.</p>
	<p class="col-sm-2 col-xs-4">{{incidents.length}} Inc.</p>

	<p class="clearfix"></p>
	<div class="employee-reports">
		<div ng-repeat="report in myreports | orderBy: 'report.timestamp': true">
			<div class="col-sm-12" ng-class="{'even': $even}">
				<p class="col-sm-4">{{report.timestamp | date: fulltime}}</p>
				<p class="col-sm-5">{{report.infraction || 'Incident'}}</p>
				<p class="col-sm-3" ng-if="!mgmt">{{report.managerName}}</p>
				<p class="col-sm-3" ng-if="mgmt">{{report.staffName || report.staffNames.join(', ')}}</p>
			</div>
		</div>
	</div>
</div>