@media screen and (max-width: 991px){
	.input-group-btn, .form-control > *, input[type=text], ::-webkit-input-placeholder, div>select, option{
		font-size:1.5em;
		height: auto;
		line-height:3;
	}



	p, label, button, .btn{
		font-size:2em;
		height:auto;
	}

	h4 {
		font-size:2.5em;
	}

	h3 {
		font-size: 3em;
	}

	h2{
		font-size: 3.5em;
	}

	h1 {
		font-size:4em;
	}
}

@media (min-width: 992px){


}