.filter-category{
	background-color:$blue;
	padding:4%;
	font-weight:bold;
}

.filter-options{
	padding:5%;
	border:1px solid $blue;
	background-color: rgba($blue, 0.5);
}

.even{
	background-color: rgba($blue, 0.5);
}

.employee-reports{
	max-height:125px;
	overflow-y:auto;


}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.glyph-red{
	color:#d9534f;
	font-size:xx-large;
}