<div class="panel">
	<div class="panel-heading gray-header">
		<h4>Incident</h4>
	</div>

	</div class="panel-heading report-modal">
		<p ng-hide="edit">
			<b>Manager: </b>
			{{report.managerName}}
		</p>

		<p ng-hide="edit">
			<b>Staff Involved: </b>
			{{report.staffNames.join(', ')}}
		</p>

		<p  ng-hide="edit">
			<b>Time: </b>
			{{report.time | date: 'medium'}}
		</p>

		<p  ng-hide="edit">
			<b>Report: </b>
			{{report.report}}
		</p>

		<p  ng-hide="edit">
			<b>Disciplinary action: </b>
			{{report.disciplinary || 'None taken'}}
		</p>

		<p  ng-hide="edit">
			<b>Cops called: </b>
			{{report.copsCalled}}
		</p>

		<incident-form ng-show="edit"></incident-form>
		<p class="text-center">
			<button class="btn btn-info" ng-click="edit = !edit">Edit</button>
			<button class="btn btn-default" ng-click="close()">Close</button>
		</p>
	</div>
</div>