

* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
}


$salmon: #DF7773;
$blue: #72A4DF;
$orange: #DF9B72;
$gray: #A9A9A9;

.panel-heading{
  background-color:$gray;
}
@import 'directives/main';
@import 'login/main';
